{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="kartify">
    <meta name="keywords" content="kartify">
    <meta name="author" content="kartify">
    <link rel="manifest" href="manifest.json">
    <link rel="icon" href="{% static '' %}main/assets/images/logo/favicon.png" type="image/x-icon">
    <title>Kartify App</title>
    <link rel="apple-touch-icon" href="{% static '' %}main/assets/images/logo/favicon.png">
    <meta name="theme-color" content="#2777FC">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="kartify">
    <meta name="msapplication-TileImage" content="{% static '' %}main/assets/images/logo/favicon.png">
    <meta name="msapplication-TileColor" content="#FFFFFF">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- font link -->
    <link rel="stylesheet" href="{% static '' %}main/assets/css/br-hendrix.css">

    <!-- iconsax css -->
    <link rel="stylesheet" type="text/css" href="{% static '' %}main/assets/css/vendors/iconsax.css">

    <!-- bootstrap css -->
    <link rel="stylesheet" id="rtl-link" type="text/css" href="{% static '' %}main/assets/css/vendors/bootstrap.css">


    <!-- Theme css -->
    <link rel="stylesheet" id="change-link" type="text/css" href="{% static '' %}main/assets/css/style.css">
</head>

<body>
    <!-- loader start-->
    <div class="loader-wrapper" id="loader">
        <span class="loader"></span>
    </div>
    <!-- loader end -->

    <!-- header start -->
    <header class="main-header">
        <div class="custom-container">
            <div class="header-panel">
                <a href="elements-page.html">
                    <img class="img-fluid icon-btn back-arrow" src="{% static '' %}main/assets/images/svg/back-arrow.svg" alt="back-arrow">
                </a>
                <h3>Checkbox & Radio</h3>
            </div>
        </div>
    </header>
    <!-- header end -->

    <!-- element checkbox-radio start -->
    <section class="section-t-space section-b-space">
        <div class="custom-container">
            <div class="element-title mt-0">
                <h3 class="theme-color">Checkbox</h3>
            </div>
            <div class="element-group checkbox-group mt-2">
                <div class="form-check">
                    <div class="form-check p-0">
                        <input class="form-check-input" type="checkbox" id="flexCheckDefault1" checked="">
                        <label class="form-check-label" for="flexCheckDefault1">Item-1</label>
                    </div>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="flexCheckDefault2">
                    <label class="form-check-label" for="flexCheckDefault2">
                        Item-2
                    </label>
                </div>
                <div class="form-check mb-0">
                    <input class="form-check-input" type="checkbox" id="flexCheckDefault3">
                    <label class="form-check-label" for="flexCheckDefault3">
                        Item-3
                    </label>
                </div>
            </div>

            <div class="element-title mt-4">
                <h3 class="theme-color">Radio</h3>
            </div>

            <div class="element-group radio-group mt-2">
                <div class="form-check">
                    <input class="form-check-input" name="flexRadio" type="radio" id="radio1" checked="">
                    <label class="form-check-label title-color" for="radio1">
                        Item-1
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" name="flexRadio" type="radio" id="radio2">
                    <label class="form-check-label title-color" for="radio2">
                        Item-2
                    </label>
                </div>
                <div class="form-check mb-0">
                    <input class="form-check-input" name="flexRadio" type="radio" id="radio3">
                    <label class="form-check-label title-color" for="radio3">
                        Item-3
                    </label>
                </div>
            </div>

            <div class="element-title mt-4">
                <h3 class="theme-color">Switch</h3>
            </div>

            <div class="element-group switch-group mt-2">
                <div class="switch-btn">
                    <input class="form-check-input" type="checkbox" checked="">
                    <h3 class="title-color">Item-1</h3>
                </div>
                <div class="switch-btn">
                    <input class="form-check-input" type="checkbox">
                    <h3 class="title-color">Item-2</h3>
                </div>
                <div class="switch-btn">
                    <input class="form-check-input" type="checkbox">
                    <h3 class="title-color">Item-3</h3>
                </div>
            </div>
        </div>
    </section>
    <!-- element checkbox-radio end -->

    <!-- bootstrap js -->
    <script src="{% static '' %}main/assets/js/bootstrap.bundle.min.js"></script>

    <!-- iconsax js -->
    <script src="{% static '' %}main/assets/js/iconsax-icon.js"></script>

    <!-- template-setting js -->
    <script src="{% static '' %}main/assets/js/template-setting.js"></script>

    <!-- script js -->
    <script src="{% static '' %}main/assets/js/script.js"></script>
</body>

</html>