{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="kartify">
    <meta name="keywords" content="kartify">
    <meta name="author" content="kartify">
    <link rel="manifest" href="manifest.json">
    <link rel="icon" href="{% static '' %}main/assets/images/logo/favicon.png" type="image/x-icon">
    <title>Kartify App</title>
    <link rel="apple-touch-icon" href="{% static '' %}main/assets/images/logo/favicon.png">
    <meta name="theme-color" content="#2777FC">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="kartify">
    <meta name="msapplication-TileImage" content="{% static '' %}main/assets/images/logo/favicon.png">
    <meta name="msapplication-TileColor" content="#FFFFFF">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- font link -->
    <link rel="stylesheet" href="{% static '' %}main/assets/css/br-hendrix.css">

    <!-- bootstrap css -->
    <link rel="stylesheet" type="text/css" id="rtl-link" href="{% static '' %}main/assets/css/vendors/bootstrap.css">

    <!-- iconsax icon css -->
    <link rel="stylesheet" type="text/css" href="{% static '' %}main/assets/css/vendors/iconsax.css">

    <!-- Theme css -->
    <link rel="stylesheet" id="change-link" type="text/css" href="{% static '' %}main/assets/css/style.css">
</head>

<body>
    <!-- loader start-->
    <div class="loader-wrapper" id="loader">
        <span class="loader"></span>
    </div>
    <!-- loader end -->

    <!-- header start -->
    <header class="main-header">
        <div class="custom-container">
            <div class="header-panel">
                <a onclick="history.back();">
                    <img class="img-fluid icon-btn back-arrow" src="{% static '' %}main/assets/images/svg/back-arrow.svg" alt="back-arrow">
                </a>
                <h3>Help Center</h3>
            </div>
        </div>
    </header>
    <!-- header end -->

    <!-- help section starts -->
    <section class="order-section pt-0">
        <ul class="nav nav-Tabs order-tab custom-scrollbar px-20" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="faqs-tab" data-bs-toggle="tab" data-bs-target="#faqs-tab-pane" type="button" role="tab">FAQs</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact-tab-pane" type="button" role="tab">Contact Us</button>
            </li>
        </ul>

        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="faqs-tab-pane" role="tabpanel" tabindex="0">
                <ul class="nav nav-pills help-tab custom-scrollbar w-100 mt-0" id="myTab1" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="all-tab" data-bs-toggle="tab" data-bs-target="#all-tab-pane" type="button" role="tab">All</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="services-tab" data-bs-toggle="tab" data-bs-target="#services-tab-pane" type="button" role="tab">Services</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="general-tab" data-bs-toggle="tab" data-bs-target="#general-tab-pane" type="button" role="tab">General</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="account-tab" data-bs-toggle="tab" data-bs-target="#account-tab-pane" type="button" role="tab">Account</button>
                    </li>

                </ul>
                <div class="tab-content" id="myTabContent1">
                    <div class="tab-pane fade pt-4 show active" id="all-tab-pane" role="tabpanel" tabindex="0">
                        <div class="custom-container">
                            <div class="accordion help-accordion" id="accordionExample1">
                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true">
                                            How do I create an account?
                                        </button>
                                    </h2>
                                    <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            To create an account, click on the "Sign Up" button on the homepage. You'll
                                            be asked to provide your email address,
                                            create a password, and fill in your personal details. You can also sign up
                                            using your social media accounts like
                                            Facebook or Google.
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false">
                                            Is there a return policy?
                                        </button>
                                    </h2>
                                    <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            We offer a 30-day return policy for most products. Items must be unused, in
                                            original packaging, and accompanied by a
                                            receipt. Some items, such as perishable goods and personal hygiene products,
                                            may not be eligible for return. Please
                                            refer to our Return Policy page for more details.
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false">
                                            How do I track my order?
                                        </button>
                                    </h2>
                                    <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            Once your order is shipped, you’ll receive a confirmation email with a
                                            tracking number. You can track your order by
                                            clicking the "Track Order" link in your account or by entering the tracking
                                            number on the courier's website.
                                        </div>
                                    </div>
                                </div>

                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="true">
                                            What payment methods do you accept?
                                        </button>
                                    </h2>
                                    <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            We accept a variety of payment methods, including credit/debit cards (Visa,
                                            MasterCard, American Express), PayPal, Apple
                                            Pay, Google Pay, and other local payment gateways.
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false">
                                            How do I reset my password?
                                        </button>
                                    </h2>
                                    <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit repudiandae
                                            vitae explicabo eveniet necessitatibus voluptas voluptatem officiis eius,
                                            iure, esse fugit ea ratione reiciendis nihil optio facilis quod, ipsa minus.
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false">
                                            How do I contact customer support?
                                        </button>
                                    </h2>
                                    <div id="collapseSix" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            You can reach our customer support team via the “Contact Us” page, available
                                            in the app. We offer live chat, email
                                            support, and phone support for urgent inquiries. Our team is available 24/7.

                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false">
                                            How do I update my account details?
                                        </button>
                                    </h2>
                                    <div id="collapseSeven" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            You can update your personal information, address, and payment details by
                                            logging into your account and navigating to
                                            the "Account Settings" section.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade pt-4" id="services-tab-pane" role="tabpanel" tabindex="0">
                        <div class="custom-container">
                            <div class="accordion help-accordion" id="accordionExample2">
                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEight" aria-expanded="false">
                                            How do I track my order?
                                        </button>
                                    </h2>
                                    <div id="collapseEight" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            Once your order is shipped, you’ll receive a confirmation email with a
                                            tracking number. You can track your order by
                                            clicking the "Track Order" link in your account or by entering the tracking
                                            number on the courier's website.
                                        </div>
                                    </div>

                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNine" aria-expanded="false">
                                            How do I contact customer support?
                                        </button>
                                    </h2>
                                    <div id="collapseNine" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            You can reach our customer support team via the “Contact Us” page, available
                                            in the app. We offer live chat, email
                                            support, and phone support for urgent inquiries. Our team is available 24/7.

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade pt-4" id="general-tab-pane" role="tabpanel" tabindex="0">
                        <div class="custom-container">
                            <div class="accordion help-accordion">
                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTen" aria-expanded="false">
                                            How do I track my order?
                                        </button>
                                    </h2>
                                    <div id="collapseTen" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            Once your order is shipped, you’ll receive a confirmation email with a
                                            tracking number. You can track your order by
                                            clicking the "Track Order" link in your account or by entering the tracking
                                            number on the courier's website.
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEleven" aria-expanded="true">
                                            What payment methods do you accept?
                                        </button>
                                    </h2>
                                    <div id="collapseEleven" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            We accept a variety of payment methods, including credit/debit cards (Visa,
                                            MasterCard, American Express), PayPal, Apple
                                            Pay, Google Pay, and other local payment gateways.
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade pt-4" id="account-tab-pane" role="tabpanel" tabindex="0">
                        <div class="custom-container">
                            <div class="accordion help-accordion" id="accordionExample4">
                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwale" aria-expanded="true">
                                            How do I create an account?
                                        </button>
                                    </h2>
                                    <div id="collapseTwale" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            To create an account, click on the "Sign Up" button on the homepage. You'll
                                            be asked to provide your email address,
                                            create a password, and fill in your personal details. You can also sign up
                                            using your social media accounts like
                                            Facebook or Google.
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThierteen" aria-expanded="false">
                                            How do I reset my password?
                                        </button>
                                    </h2>
                                    <div id="collapseThierteen" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            If you forgot your password, click on the “Forgot Password” link on the
                                            login page. Enter your registered email, and we
                                            will send you instructions on how to reset your password.

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="contact-tab-pane" role="tabpanel" tabindex="0">
                <div class="custom-container">
                    <div class="accordion help-accordion contact-accordion" id="accordionExample01">

                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse01" aria-expanded="true">
                                    <img class="img-fluid contact-icon" src="{% static '' %}main/assets/images/svg/headphones.svg" alt="contact-icon">
                                    <span> Customer Service</span>
                                </button>
                            </h2>
                            <div id="collapse01" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <ul class="contact-list">
                                        <li> +1-800-123-4567 </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse02" aria-expanded="false">
                                    <img class="img-fluid contact-icon" src="{% static '' %}main/assets/images/svg/website.svg" alt="contact-icon">
                                    <span> Website</span>
                                </button>
                            </h2>
                            <div id="collapse02" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <ul class="contact-list">
                                        <li>www.kartify.com </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse03" aria-expanded="false">
                                    <img class="img-fluid contact-icon" src="{% static '' %}main/assets/images/svg/whatsapp.svg" alt="contact-icon">
                                    <span> Whatsapp</span>
                                </button>
                            </h2>
                            <div id="collapse03" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <ul class="contact-list">
                                        <li>(480) 555-0103 </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse04" aria-expanded="true">
                                    <img class="img-fluid contact-icon" src="{% static '' %}main/assets/images/svg/facebook.svg" alt="contact-icon">
                                    <span> Facebook</span>
                                </button>
                            </h2>
                            <div id="collapse04" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <ul class="contact-list">
                                        <li>facebook.com/kartify </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse05" aria-expanded="false">
                                    <img class="img-fluid contact-icon" src="{% static '' %}main/assets/images/svg/twitter.svg" alt="contact-icon">
                                    <span> Twitter</span>
                                </button>
                            </h2>
                            <div id="collapse05" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <ul class="contact-list">
                                        <li>twitter.com/kartify </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse06" aria-expanded="false">
                                    <img class="img-fluid contact-icon" src="{% static '' %}main/assets/images/svg/instagram.svg" alt="contact-icon">
                                    <span> Instagram</span>
                                </button>
                            </h2>
                            <div id="collapse06" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <ul class="contact-list">
                                        <li>instagram.com/kartify </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- help section end -->

    <!-- bootstrap js -->
    <script src="{% static '' %}main/assets/js/bootstrap.bundle.min.js"></script>

    <!-- iconsax icon -->
    <script src="{% static '' %}main/assets/js/iconsax-icon.js"></script>

    <!-- template-setting js -->
    <script src="{% static '' %}main/assets/js/template-setting.js"></script>

    <!-- script js -->
    <script src="{% static '' %}main/assets/js/script.js"></script>
</body>

</html>