{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="kartify">
    <meta name="keywords" content="kartify">
    <meta name="author" content="kartify">
    <link rel="manifest" href="manifest.json">
    <link rel="icon" href="{% static '' %}main/assets/images/logo/favicon.png" type="image/x-icon">
    <title>Kartify App</title>
    <link rel="apple-touch-icon" href="{% static '' %}main/assets/images/logo/favicon.png">
    <meta name="theme-color" content="#2777FC">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="kartify">
    <meta name="msapplication-TileImage" content="{% static '' %}main/assets/images/logo/favicon.png">
    <meta name="msapplication-TileColor" content="#FFFFFF">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- font link -->
    <link rel="stylesheet" href="{% static '' %}main/assets/css/br-hendrix.css">

    <!-- bootstrap css -->
    <link rel="stylesheet" type="text/css" id="rtl-link" href="{% static '' %}main/assets/css/vendors/bootstrap.css">

    <!-- swiper css -->
    <link rel="stylesheet" type="text/css" href="{% static '' %}main/assets/css/vendors/swiper-bundle.min.css">

    <!-- iconsax icon css -->
    <link rel="stylesheet" type="text/css" href="{% static '' %}main/assets/css/vendors/iconsax.css">

    <!-- Theme css -->
    <link rel="stylesheet" id="change-link" type="text/css" href="{% static '' %}main/assets/css/style.css">
</head>

<body>
    <!-- loader start-->
    <div class="loader-wrapper" id="loader">
        <span class="loader"></span>
    </div>
    <!-- loader end -->

    <!-- header start -->
    <header class="header">
        <div class="custom-container">
            <div class="head-content">
                <a href="#sidebar" class="sidebar-btn" data-bs-toggle="offcanvas">
                    <i class="iconsax" data-icon="text-align-left"></i>
                </a>

                <a href="location.html" class="header-location">
                    <h6>KFC</h6>

                    <div class="location-content">
                        <img class="img-fluid location" src="{% static '' %}main/assets/images/svg/location.svg" alt="location">
                        <h5>Milliy Tiklanish</h5>
                        <i class="iconsax d-arrow" data-icon="chevron-down"></i>
                    </div>
                </a>
                <div class="ms-auto d-flex align-items-center gap-2">
                    <a href="search.html">
                        <i class="iconsax icon-btn" data-icon="search-normal-2"></i>
                    </a>
                    <a href="notification.html">
                        <i class="iconsax icon-btn notification-icon" data-icon="bell-2"></i>
                    </a>
                </div>
            </div>
        </div>
    </header>
    <!-- header end -->

    <!-- banner section start -->
    <section class=" position-relative">
        <div class="swiper banner-slider">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <a href="shop.html" class="banner-box">
                        <img class="img-fluid banner-img" src="{% static '' %}main/assets/images/banner/new/street.webp" alt="banner">
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="shop.html" class="banner-box">
                        <img class="img-fluid banner-img" src="{% static '' %}main/assets/images/banner/new/feedup.webp" alt="banner">
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="shop.html" class="banner-box">
                        <img class="img-fluid banner-img" src="{% static '' %}main/assets/images/banner/new/maxway.webp" alt="banner">
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="shop.html" class="banner-box">
                        <img class="img-fluid banner-img" src="{% static '' %}main/assets/images/banner/new/hot.webp" alt="banner">
                    </a>
                </div>
            </div>
            <div class="swiper-pagination banner-pagination"></div>
        </div>
    </section>
    <!-- banner section end -->

    <!-- best sale section start -->
    <section>
        <div class="custom-container">
            <div class="title">
                <h3>Ommaviy</h3>
                <a href="/shop.html" class="see-all">Barchasi</a>
            </div>

            <div class="row g-3">
                <div class="col-6">
                    <div class="product-box">
                        <div class="product-img">
                            <!-- <div class="badge-img">
                                <span>Hot</span>
                            </div> -->
                            <img src="{% static '' %}main/assets/images/product/food/peperoni.webp" class="img-fluid img" alt="">
                        </div>
                        <div class="product-content">
                            <a href="javascript:void(0);" class="add-icon" onclick="plusOrderProduct(this);">
                                <i class="iconsax" data-icon="add"></i>
                            </a>
                            <h6 class="content-color white-nowrap">Pizza</h6>
                            <a href="product-details.html">
                                <h5 class="title-color fw-medium white-nowrap mt-1">Pepperoni Pizza</h5>
                            </a>
                            <div class="bottom-content">
                                <h5 class="price">320.000 <del>so'm</del></h5>
                            </div>
                            <div class="d-none justify-content-center align-items-center mt-2">
                                <div class="plus-minus">
                                    <i class="iconsax icon sub" data-icon="minus" onclick="minusOrderProduct(this);"> </i>
                                    <input type="number" disabled="" value="1" min="1" max="100">
                                    <i class="iconsax icon add" data-icon="add" onclick="plusOrderProduct(this);"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="product-box">
                        <div class="product-img">
                            <img src="{% static '' %}main/assets/images/product/food/sendvich.webp" class="img-fluid img" alt="">
                        </div>


                        <div class="product-content">
                            <a href="javascript:void(0);" class="add-icon" onclick="plusOrderProduct(this);">
                                <i class="iconsax" data-icon="add"></i>
                            </a>

                            <a href="product-details.html">
                                <h6 class="content-color white-nowrap">Sendvich</h6>
                                <h5 class="title-color fw-medium white-nowrap mt-1">Sendvich Meat</h5>
                            </a>
                            <div class="bottom-content">
                                <h5 class="price">200.000 <del>so'm</del></h5>
                            </div>
                            <div class="d-none justify-content-center align-items-center mt-2">
                                <div class="plus-minus">
                                    <i class="iconsax icon sub" data-icon="minus" onclick="minusOrderProduct(this);"> </i>
                                    <input type="number" disabled="" value="1" min="1" max="100">
                                    <i class="iconsax icon add" data-icon="add" onclick="plusOrderProduct(this);"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-6">
                    <div class="product-box">
                        <div class="product-img">
                            <img src="{% static '' %}main/assets/images/product/food/sezar.webp" class="img-fluid img" alt="">
                        </div>
                        <div class="product-content">
                            <a href="javascript:void(0);" class="add-icon" onclick="plusOrderProduct(this);">
                                <i class="iconsax" data-icon="add"></i>
                            </a>
                            <h6 class="content-color white-nowrap">Salat</h6>
                            <a href="product-details.html">
                                <h5 class="title-color fw-medium white-nowrap mt-1">Sezar Salat</h5>
                            </a>
                            <div class="bottom-content">
                                <h5 class="price">150.000 <del>so'm</del></h5>
                            </div>
                            <div class="d-none justify-content-center align-items-center mt-2">
                                <div class="plus-minus">
                                    <i class="iconsax icon sub" data-icon="minus" onclick="minusOrderProduct(this);"> </i>
                                    <input type="number" disabled="" value="1" min="1" max="100">
                                    <i class="iconsax icon add" data-icon="add" onclick="plusOrderProduct(this);"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="product-box">
                        <div class="product-img">
                            <img src="{% static '' %}main/assets/images/product/food/vegan.webp" class="img-fluid img" alt="">
                        </div>

                        <div class="product-content">
                            <a href="javascript:void(0);" class="add-icon" onclick="plusOrderProduct(this);">
                                <i class="iconsax" data-icon="add"></i>
                            </a>

                            <a href="product-details.html">
                                <h6 class="content-color white-nowrap">Pizza</h6>
                                <h5 class="title-color fw-medium white-nowrap mt-1">Vegen Pizza</h5>
                            </a>
                            <div class="bottom-content">
                                <h5 class="price">110.000 <del>so'm</del></h5>
                            </div>
                            <div class="d-none justify-content-center align-items-center mt-2">
                                <div class="plus-minus">
                                    <i class="iconsax icon sub" data-icon="minus" onclick="minusOrderProduct(this);"> </i>
                                    <input type="number" disabled="" value="1" min="1" max="100">
                                    <i class="iconsax icon add" data-icon="add" onclick="plusOrderProduct(this);"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="product-box">
                        <div class="product-img">
                            <img src="{% static '' %}main/assets/images/product/food/kriliki.webp" class="img-fluid img" alt="">
                        </div>

                        <div class="product-content">
                            <a href="javascript:void(0);" class="add-icon" onclick="plusOrderProduct(this);">
                                <i class="iconsax" data-icon="add"></i>
                            </a>

                            <a href="product-details.html">
                                <h6 class="content-color white-nowrap">Snack</h6>
                                <h5 class="title-color fw-medium white-nowrap mt-1">Kriliki</h5>
                            </a>
                            <div class="bottom-content">
                                <h5 class="price">190.000 <del>so'm</del></h5>
                            </div>
                            <div class="d-none justify-content-center align-items-center mt-2">
                                <div class="plus-minus">
                                    <i class="iconsax icon sub" data-icon="minus" onclick="minusOrderProduct(this);"> </i>
                                    <input type="number" disabled="" value="1" min="1" max="100">
                                    <i class="iconsax icon add" data-icon="add" onclick="plusOrderProduct(this);"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="product-box">
                        <div class="product-img">
                            <img src="{% static '' %}main/assets/images/product/food/kebabpitsa.webp" class="img-fluid img" alt="">
                        </div>

                        <div class="product-content">
                            <a href="javascript:void(0);" class="add-icon" onclick="plusOrderProduct(this);">
                                <i class="iconsax" data-icon="add"></i>
                            </a>

                            <a href="product-details.html">
                                <h6 class="content-color white-nowrap">Pizza</h6>
                                <h5 class="title-color fw-medium white-nowrap mt-1">Kebab Pitsa</h5>
                            </a>
                            <div class="bottom-content">
                                <h5 class="price">100.000 <del>so'm</del></h5>
                            </div>
                            <div class="d-none justify-content-center align-items-center mt-2">
                                <div class="plus-minus">
                                    <i class="iconsax icon sub" data-icon="minus" onclick="minusOrderProduct(this);"> </i>
                                    <input type="number" disabled="" value="1" min="1" max="100">
                                    <i class="iconsax icon add" data-icon="add" onclick="plusOrderProduct(this);"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- best sale section start -->

    <!-- tap to top start -->
    <div class="tap-to-top-box">
        <a href="#" class="scroll scroll-to-top">
            <i class="iconsax arrow" data-icon="arrow-up"></i>
            Tap to Top
        </a>
    </div>
    <!-- tap to top end -->

    <!-- bottom panel start -->
    <ul class="bottom-menu only-icon">
        <li>
            <a href="home.html" class="active">
                <i class="iconsax text-content" data-icon="home-2"></i>
            </a>
        </li>

        <li>
            <a href="category.html">
                <i class="iconsax text-content" data-icon="grid-apps"></i>
            </a>
        </li>

        <li>
            <a href="cart.html">
                <i class="iconsax text-content" data-icon="shopping-cart"></i>
            </a>
        </li>

        <li>
            <a href="wishlist.html">
                <i class="iconsax text-content" data-icon="heart"></i>
            </a>
        </li>

        <li>
            <a href="account.html">
                <i class="iconsax text-content" data-icon="user-2"></i>
            </a>
        </li>
    </ul>
    <!-- bottom panel end -->

    <!-- sidebar starts -->
    <div class="offcanvas sidebar-offcanvas offcanvas-start" tabindex="-1" id="sidebar">
        <div class="offcanvas-header sidebar-header">
            <div class="sidebar-logo">
                <img class="img-fluid logo" src="{% static '' %}main/assets/images/logo/logo.png" alt="logo">
            </div>
        </div>
        <div class="offcanvas-body">
            <a href="edit-profile.html" class="profile-part">
                <img class="img-fluid profile-pic" src="{% static '' %}main/assets/images/avatar/1.png" alt="p8">
                <div>
                    <h3>Smitha Williams</h3>
                    <span>Edit Account</span>
                </div>
            </a>
            <ul class="link-section switch-section">
                <li class="active">
                    <a href="home.html" class="pages">
                        <i class="iconsax sidebar-icon icon" data-icon="home-2"></i>
                        <h3>Home</h3>
                    </a>
                </li>
                <li>
                    <a href="category.html" class="pages">
                        <i class="iconsax sidebar-icon icon" data-icon="grid-apps"></i>
                        <h3>Category</h3>
                    </a>
                </li>
                <li>
                    <a href="cart.html" class="pages">
                        <i class="iconsax sidebar-icon icon" data-icon="shopping-cart"></i>

                        <h3>Cart</h3>
                    </a>
                </li>

                <li>
                    <a href="wishlist.html" class="pages">
                        <i class="iconsax sidebar-icon icon" data-icon="heart"></i>
                        <h3>Wishlist</h3>
                    </a>
                </li>
                <li>
                    <a href="account.html" class="pages">
                        <i class="iconsax sidebar-icon icon" data-icon="user-2"></i>
                        <h3>Profile</h3>
                    </a>
                </li>

                <li>
                    <a href="page-listing.html" class="pages">
                        <i class="iconsax sidebar-icon icon" data-icon="book-closed"> </i>
                        <h3>Template Pages</h3>
                    </a>
                </li>

                <li>
                    <a href="elements-page.html" class="pages">
                        <i class="iconsax sidebar-icon icon" data-icon="document-text-1"> </i>
                        <h3> Template Elements</h3>
                    </a>
                </li>

                <li>
                    <div class="pages">
                        <i class="iconsax sidebar-icon" data-icon="repeat"> </i>
                        <h3>RTL</h3>
                    </div>
                    <div class="switch-btn">
                        <input id="dir-switch" type="checkbox">
                    </div>
                </li>

                <li>
                    <div class="pages">
                        <i class="iconsax sidebar-icon" data-icon="brush-3"> </i>
                        <h3>Dark</h3>
                    </div>
                    <div class="switch-btn">
                        <input id="dark-switch" type="checkbox">
                    </div>
                </li>

            </ul>

            <div class="bottom-sidebar">
                <a href="login.html" class="pages">
                    <i class="iconsax sidebar-icon" data-icon="logout-2"> </i>
                    <h3>Logout</h3>
                </a>
            </div>
        </div>
    </div>
    <!-- sidebar end -->

    <!-- swiper js -->
    <script src="{% static '' %}main/assets/js/swiper-bundle.min.js"></script>
    <script src="{% static '' %}main/assets/js/custom-swiper.js"></script>

    <!-- bootstrap js -->
    <script src="{% static '' %}main/assets/js/bootstrap.bundle.min.js"></script>

    <!-- iconsax icon -->
    <script src="{% static '' %}main/assets/js/iconsax-icon.js"></script>

    <!-- template-setting js -->
    <script src="{% static '' %}main/assets/js/template-setting.js"></script>

    <!-- range slider js -->
    <script src="{% static '' %}main/assets/js/range-slider.js"></script>

    <!-- timer js -->
    <script src="{% static '' %}main/assets/js/timer.js"></script>

    <!-- tap to tap js -->
    <script src="{% static '' %}main/assets/js/tap-to-top.js"></script>

    <!-- script js -->
    <script src="{% static '' %}main/assets/js/script.js"></script>
    <script src="{% static '' %}main/assets/js/plus_minus.js"></script>
</body>

</html>