{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="kartify">
    <meta name="keywords" content="kartify">
    <meta name="author" content="kartify">
    <link rel="manifest" href="manifest.json">
    <link rel="icon" href="{% static '' %}main/assets/images/logo/favicon.png" type="image/x-icon">
    <title>Kartify App</title>
    <link rel="apple-touch-icon" href="{% static '' %}main/assets/images/logo/favicon.png">
    <meta name="theme-color" content="#2777FC">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="kartify">
    <meta name="msapplication-TileImage" content="{% static '' %}main/assets/images/logo/favicon.png">
    <meta name="msapplication-TileColor" content="#FFFFFF">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- font link -->
    <link rel="stylesheet" href="{% static '' %}main/assets/css/br-hendrix.css">

    <!-- bootstrap css -->
    <link rel="stylesheet" type="text/css" id="rtl-link" href="{% static '' %}main/assets/css/vendors/bootstrap.css">

    <!-- swiper css -->
    <link rel="stylesheet" type="text/css" href="{% static '' %}main/assets/css/vendors/swiper-bundle.min.css">

    <!-- iconsax icon css -->
    <link rel="stylesheet" type="text/css" href="{% static '' %}main/assets/css/vendors/iconsax.css">

    <!-- Theme css -->
    <link rel="stylesheet" id="change-link" type="text/css" href="{% static '' %}main/assets/css/style.css">
</head>

<body>
    <!-- loader start-->
    <div class="loader-wrapper" id="loader">
        <span class="loader"></span>
    </div>
    <!-- loader end -->

    <!-- header start -->
    <header class="header">
        <div class="custom-container">
            <div class="head-content">
                <a href="#sidebar" class="sidebar-btn" data-bs-toggle="offcanvas">
                    <i class="iconsax" data-icon="text-align-left"></i>
                </a>

                <a href="location.html" class="header-location">
                    <h6>KFC</h6>

                    <div class="location-content">
                        <img class="img-fluid location" src="{% static '' %}main/assets/images/svg/location.svg" alt="location">
                        <h5>Milliy Tiklanish</h5>
                        <i class="iconsax d-arrow" data-icon="chevron-down"></i>
                    </div>
                </a>
                <div class="ms-auto d-flex align-items-center gap-2">
                    <a href="search.html">
                        <i class="iconsax icon-btn" data-icon="search-normal-2"></i>
                    </a>
                    <a href="notification.html">
                        <i class="iconsax icon-btn notification-icon" data-icon="bell-2"></i>
                    </a>
                </div>
            </div>
        </div>
    </header>
    <!-- header end -->

    <!-- categories section starts -->
    <!-- <section class="pt-2">
        <ul class="categories-slider custom-scrollbar">
            <li>
                <a href="shop.html" class="category-box">
                    <div class="category-box-img">
                        <img class="img-fluid category-img" src="{% static '' %}main/assets/images/categories/1.png" alt="category">
                    </div>
                    <h5>Mobile</h5>
                </a>
            </li>
            <li>
                <a href="shop.html" class="category-box">
                    <div class="category-box-img">
                        <img class="img-fluid category-img" src="{% static '' %}main/assets/images/categories/2.png" alt="category">
                    </div>
                    <h5>Ear Birds</h5>
                </a>
            </li>
            <li>
                <a href="shop.html" class="category-box">
                    <div class="category-box-img">
                        <img class="img-fluid category-img" src="{% static '' %}main/assets/images/categories/3.png" alt="category">
                    </div>
                    <h5>Laptop</h5>
                </a>
            </li>
            <li>
                <a href="shop.html" class="category-box">
                    <div class="category-box-img">
                        <img class="img-fluid category-img" src="{% static '' %}main/assets/images/categories/4.png" alt="category">
                    </div>
                    <h5>Headphone</h5>
                </a>
            </li>
            <li>
                <a href="shop.html" class="category-box">
                    <div class="category-box-img">
                        <img class="img-fluid category-img" src="{% static '' %}main/assets/images/categories/5.png" alt="category">
                    </div>
                    <h5>Tablet</h5>
                </a>
            </li>
            <li>
                <a href="shop.html" class="category-box">
                    <div class="category-box-img">
                        <img class="img-fluid category-img" src="{% static '' %}main/assets/images/categories/6.png" alt="category">
                    </div>
                    <h5>Camera</h5>
                </a>
            </li>
            <li>
                <a href="shop.html" class="category-box">
                    <div class="category-box-img">
                        <img class="img-fluid category-img" src="{% static '' %}main/assets/images/categories/7.png" alt="category">
                    </div>
                    <h5>Games</h5>
                </a>
            </li>
            <li>
                <a href="shop.html" class="category-box">
                    <div class="category-box-img">
                        <img class="img-fluid category-img" src="{% static '' %}main/assets/images/categories/8.png" alt="category">
                    </div>
                    <h5>Watch</h5>
                </a>
            </li>
            <li>
                <a href="shop.html" class="category-box">
                    <div class="category-box-img">
                        <img class="img-fluid category-img" src="{% static '' %}main/assets/images/categories/9.png" alt="category">
                    </div>
                    <h5>Printer</h5>
                </a>
            </li>
            <li>
                <a href="shop.html" class="category-box">
                    <div class="category-box-img">
                        <img class="img-fluid category-img" src="{% static '' %}main/assets/images/categories/10.png" alt="category">
                    </div>
                    <h5>Dumbbells</h5>
                </a>
            </li>
            <li>
                <a href="shop.html" class="category-box">
                    <div class="category-box-img">
                        <img class="img-fluid category-img" src="{% static '' %}main/assets/images/categories/11.png" alt="category">
                    </div>
                    <h5>Toys</h5>
                </a>
            </li>
            <li>
                <a href="shop.html" class="category-box">
                    <div class="category-box-img">
                        <img class="img-fluid category-img" src="{% static '' %}main/assets/images/categories/12.png" alt="category">
                    </div>
                    <h5>Fragrance</h5>
                </a>
            </li>
            <li>
                <a href="shop.html" class="category-box">
                    <div class="category-box-img">
                        <img class="img-fluid category-img" src="{% static '' %}main/assets/images/categories/13.png" alt="category">
                    </div>
                    <h5>Man’s</h5>
                </a>
            </li>
            <li>
                <a href="shop.html" class="category-box">
                    <div class="category-box-img">
                        <img class="img-fluid category-img" src="{% static '' %}main/assets/images/categories/14.png" alt="category">
                    </div>
                    <h5>Woman’s</h5>
                </a>
            </li>
            <li>
                <a href="shop.html" class="category-box">
                    <div class="category-box-img">
                        <img class="img-fluid category-img" src="{% static '' %}main/assets/images/categories/15.png" alt="category">
                    </div>
                    <h5>Accessories</h5>
                </a>
            </li>
        </ul>
    </section> -->
    <!-- categories section end -->

    <!-- banner section start -->
    <section class=" position-relative">
        <div class="swiper banner-slider">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <a href="shop.html" class="banner-box">
                        <img class="img-fluid banner-img" src="{% static '' %}main/assets/images/banner/1.png" alt="banner">
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="shop.html" class="banner-box">
                        <img class="img-fluid banner-img" src="{% static '' %}main/assets/images/banner/2.png" alt="banner">
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="shop.html" class="banner-box">
                        <img class="img-fluid banner-img" src="{% static '' %}main/assets/images/banner/3.png" alt="banner">
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="shop.html" class="banner-box">
                        <img class="img-fluid banner-img" src="{% static '' %}main/assets/images/banner/4.png" alt="banner">
                    </a>
                </div>
            </div>
            <div class="swiper-pagination banner-pagination"></div>
        </div>
    </section>
    <!-- banner section end -->

    <!-- flash sale section start -->
    <section>
        <div class="custom-container">
            <div class="title">
                <div class="d-flex align-items-center gap-2">
                    <h3>Flash Sale</h3>
                    <div class="title-timer" id="clock">
                        <i class="iconsax clock" data-icon="clock"> </i>

                        <div class="counter">
                            <span class="hours"></span>
                        </div>
                        <div class="counter">
                            <span class="minutes"></span>
                        </div>
                        <div class="counter">
                            <span class="seconds"></span>
                        </div>
                    </div>
                </div>
                <a href="sale.html" class="see-all">See all</a>

            </div>

            <div class="row g-3">
                <div class="col-6">
                    <div class="product-box">
                        <div class="product-img">
                            <div class="badge-img">
                                <span> Sale</span>
                            </div>
                            <img src="{% static '' %}main/assets/images/product/1.png" class="img-fluid img" alt="">
                            <div class="like-icon animate ">
                                <img class="img-fluid icon outline-icon" src="{% static '' %}main/assets/images/svg/heart-outline.svg" alt="">
                                <img class="img-fluid icon fill-icon" src="{% static '' %}main/assets/images/svg/heart-fill.svg" alt="">
                                <div class="effect-group">
                                    <span class="effect"></span>
                                    <span class="effect"></span>
                                    <span class="effect"></span>
                                    <span class="effect"></span>
                                    <span class="effect"></span>
                                </div>
                            </div>
                        </div>
                        <div class="product-content">
                            <a href="cart.html" class="add-icon">
                                <i class="iconsax" data-icon="add"></i>
                            </a>
                            <h6 class="content-color white-nowrap">Mobile</h6>
                            <a href="product-details.html">
                                <h5 class="title-color fw-medium white-nowrap mt-1">Latest Smart Mobile Phone</h5>
                            </a>
                            <ul class="rating-list">
                                <li>
                                    <img src="{% static '' %}main/assets/images/svg/star-fill.svg" alt="star">
                                </li>
                                <li>
                                    <img src="{% static '' %}main/assets/images/svg/star-fill.svg" alt="star">
                                </li>
                                <li>
                                    <img src="{% static '' %}main/assets/images/svg/star-fill.svg" alt="star">
                                </li>
                                <li>
                                    <img src="{% static '' %}main/assets/images/svg/star-fill.svg" alt="star">
                                </li>
                                <li>
                                    <img src="{% static '' %}main/assets/images/svg/star-outline.svg" alt="star">
                                </li>
                            </ul>
                            <div class="bottom-content">
                                <h5 class="price">$320 <del>$350</del></h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="product-box">
                        <div class="product-img">
                            <img src="{% static '' %}main/assets/images/product/2.png" class="img-fluid img" alt="">
                            <div class="like-icon animate active inactive">
                                <img class="img-fluid icon outline-icon" src="{% static '' %}main/assets/images/svg/heart-outline.svg" alt="">
                                <img class="img-fluid icon fill-icon" src="{% static '' %}main/assets/images/svg/heart-fill.svg" alt="">
                                <div class="effect-group">
                                    <span class="effect"></span>
                                    <span class="effect"></span>
                                    <span class="effect"></span>
                                    <span class="effect"></span>
                                    <span class="effect"></span>
                                </div>
                            </div>
                        </div>


                        <div class="product-content">
                            <a href="cart.html" class="add-icon">
                                <i class="iconsax" data-icon="add"></i>
                            </a>

                            <a href="product-details.html">
                                <h6 class="content-color white-nowrap">Speaker</h6>
                                <h5 class="title-color fw-medium white-nowrap mt-1">Wireless Audio System</h5>
                            </a>
                            <ul class="rating-list">
                                <li>
                                    <img src="{% static '' %}main/assets/images/svg/star-fill.svg" alt="star">
                                </li>
                                <li>
                                    <img src="{% static '' %}main/assets/images/svg/star-fill.svg" alt="star">
                                </li>
                                <li>
                                    <img src="{% static '' %}main/assets/images/svg/star-fill.svg" alt="star">
                                </li>
                                <li>
                                    <img src="{% static '' %}main/assets/images/svg/star-fill.svg" alt="star">
                                </li>
                                <li>
                                    <img src="{% static '' %}main/assets/images/svg/star-outline.svg" alt="star">
                                </li>
                            </ul>
                            <div class="bottom-content">
                                <h5 class="price">$20 <del>$50</del></h5>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-6">
                    <div class="product-box">
                        <div class="product-img">
                            <img src="{% static '' %}main/assets/images/product/3.png" class="img-fluid img" alt="">
                            <div class="like-icon animate ">
                                <img class="img-fluid icon outline-icon" src="{% static '' %}main/assets/images/svg/heart-outline.svg" alt="">
                                <img class="img-fluid icon fill-icon" src="{% static '' %}main/assets/images/svg/heart-fill.svg" alt="">
                                <div class="effect-group">
                                    <span class="effect"></span>
                                    <span class="effect"></span>
                                    <span class="effect"></span>
                                    <span class="effect"></span>
                                    <span class="effect"></span>
                                </div>
                            </div>
                        </div>
                        <div class="product-content">
                            <a href="cart.html" class="add-icon">
                                <i class="iconsax" data-icon="add"></i>
                            </a>
                            <h6 class="content-color white-nowrap">Laptop</h6>
                            <a href="product-details.html">
                                <h5 class="title-color fw-medium white-nowrap mt-1">Latest Smart laptop</h5>
                            </a>
                            <ul class="rating-list">
                                <li>
                                    <img src="{% static '' %}main/assets/images/svg/star-fill.svg" alt="star">
                                </li>
                                <li>
                                    <img src="{% static '' %}main/assets/images/svg/star-fill.svg" alt="star">
                                </li>
                                <li>
                                    <img src="{% static '' %}main/assets/images/svg/star-fill.svg" alt="star">
                                </li>
                                <li>
                                    <img src="{% static '' %}main/assets/images/svg/star-fill.svg" alt="star">
                                </li>
                                <li>
                                    <img src="{% static '' %}main/assets/images/svg/star-outline.svg" alt="star">
                                </li>
                            </ul>
                            <div class="bottom-content">
                                <h5 class="price">$200 <del>$250</del></h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="product-box">
                        <div class="product-img">
                            <div class="badge-img">
                                <span> Sale</span>
                            </div>
                            <img src="{% static '' %}main/assets/images/product/4.png" class="img-fluid img" alt="">
                            <div class="like-icon animate active inactive">
                                <img class="img-fluid icon outline-icon" src="{% static '' %}main/assets/images/svg/heart-outline.svg" alt="">
                                <img class="img-fluid icon fill-icon" src="{% static '' %}main/assets/images/svg/heart-fill.svg" alt="">
                                <div class="effect-group">
                                    <span class="effect"></span>
                                    <span class="effect"></span>
                                    <span class="effect"></span>
                                    <span class="effect"></span>
                                    <span class="effect"></span>
                                </div>
                            </div>
                        </div>

                        <div class="product-content">
                            <a href="cart.html" class="add-icon">
                                <i class="iconsax" data-icon="add"></i>
                            </a>

                            <a href="product-details.html">
                                <h6 class="content-color white-nowrap">Headphone</h6>
                                <h5 class="title-color fw-medium white-nowrap mt-1">Wireless Bluetooth Headphone</h5>
                            </a>
                            <ul class="rating-list">
                                <li>
                                    <img src="{% static '' %}main/assets/images/svg/star-fill.svg" alt="star">
                                </li>
                                <li>
                                    <img src="{% static '' %}main/assets/images/svg/star-fill.svg" alt="star">
                                </li>
                                <li>
                                    <img src="{% static '' %}main/assets/images/svg/star-fill.svg" alt="star">
                                </li>
                                <li>
                                    <img src="{% static '' %}main/assets/images/svg/star-fill.svg" alt="star">
                                </li>
                                <li>
                                    <img src="{% static '' %}main/assets/images/svg/star-outline.svg" alt="star">
                                </li>
                            </ul>
                            <div class="bottom-content">
                                <h5 class="price">$10 <del>$20</del></h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- flash sale section start -->


    <!-- recommended section start -->
    <section>
        <div class="custom-container">
            <div class="title">
                <h3>Recommended for you</h3>
                <a href="shop.html" class="see-all">See all</a>
            </div>
            <div class="row gy-3 gx-0">
                <div class="col-12">
                    <div class="product-box vertical-product">
                        <a href="product-details.html" class="product-img">
                            <img src="{% static '' %}main/assets/images/product/5.png" class="img-fluid" alt="">
                        </a>
                        <div class="product-content">
                            <a href="cart.html" class="add-icon">
                                <i class="iconsax" data-icon="add"></i>
                            </a>
                            <h6 class="content-color">Mobile</h6>
                            <a href="product-details.html" class="product-top">
                                <h5 class="title-color white-nowrap">Latest Smart Mobile </h5>
                            </a>
                            <div class="bottom-content">
                                <h5 class="price">$450 <del>$460</del></h5>
                            </div>
                        </div>
                        <div class="like-icon animate ">
                            <img class="img-fluid icon outline-icon" src="{% static '' %}main/assets/images/svg/heart-outline.svg" alt="">
                            <img class="img-fluid icon fill-icon" src="{% static '' %}main/assets/images/svg/heart-fill.svg" alt="">
                            <div class="effect-group">
                                <span class="effect"></span>
                                <span class="effect"></span>
                                <span class="effect"></span>
                                <span class="effect"></span>
                                <span class="effect"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="product-box vertical-product">
                        <a href="product-details.html" class="product-img">
                            <img src="{% static '' %}main/assets/images/product/6.png" class="img-fluid" alt="">
                        </a>
                        <div class="product-content">
                            <h6 class="content-color">Laptop</h6>
                            <a href="product-details.html" class="product-top">
                                <h5 class="title-color white-nowrap">Latest Smart laptop </h5>
                            </a>
                            <div class="bottom-content">
                                <h5 class="price">$550</h5>
                            </div>
                        </div>
                        <div class="like-icon animate ">
                            <img class="img-fluid icon outline-icon" src="{% static '' %}main/assets/images/svg/heart-outline.svg" alt="">
                            <img class="img-fluid icon fill-icon" src="{% static '' %}main/assets/images/svg/heart-fill.svg" alt="">
                            <div class="effect-group">
                                <span class="effect"></span>
                                <span class="effect"></span>
                                <span class="effect"></span>
                                <span class="effect"></span>
                                <span class="effect"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="product-box vertical-product">
                        <a href="product-details.html" class="product-img">
                            <img src="{% static '' %}main/assets/images/product/7.png" class="img-fluid" alt="">
                        </a>
                        <div class="product-content">
                            <h6 class="content-color">Game</h6>
                            <a href="product-details.html" class="product-top">
                                <h5 class="title-color white-nowrap">Game Controller </h5>
                            </a>
                            <div class="bottom-content">
                                <h5 class="price">$150</h5>
                            </div>
                        </div>
                        <div class="like-icon animate ">
                            <img class="img-fluid icon outline-icon" src="{% static '' %}main/assets/images/svg/heart-outline.svg" alt="">
                            <img class="img-fluid icon fill-icon" src="{% static '' %}main/assets/images/svg/heart-fill.svg" alt="">
                            <div class="effect-group">
                                <span class="effect"></span>
                                <span class="effect"></span>
                                <span class="effect"></span>
                                <span class="effect"></span>
                                <span class="effect"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- recommended section end -->

    <!-- Electronic device section starts -->

    <section class="product-category-section section-t-space section-b-space mt-24">
        <div class="custom-container">
            <div class="title">
                <h3>All Electronic Device For Home & Office</h3>
                <a href="shop.html" class="btn btn-small shop-btn">Shop Now</a>
            </div>

            <div class="row g-3">
                <div class="col-6">
                    <a href="shop.html" class="product-category">
                        <div class="product-category-img">
                            <img src="{% static '' %}main/assets/images/product/8.png" class="img-fluid categories-img" alt="">
                        </div>
                        <h5>Mobile</h5>
                    </a>
                </div>
                <div class="col-6">
                    <a href="shop.html" class="product-category">
                        <div class="product-category-img">
                            <img src="{% static '' %}main/assets/images/product/6.png" class="img-fluid categories-img" alt="">
                        </div>
                        <h5>Laptop</h5>
                    </a>
                </div>
                <div class="col-6">
                    <a href="shop.html" class="product-category">
                        <div class="product-category-img">
                            <img src="{% static '' %}main/assets/images/product/10.png" class="img-fluid categories-img" alt="">
                        </div>
                        <h5>Tablet</h5>
                    </a>
                </div>
                <div class="col-6">
                    <a href="shop.html" class="product-category">
                        <div class="product-category-img">
                            <img src="{% static '' %}main/assets/images/product/9.png" class="img-fluid categories-img" alt="">
                        </div>
                        <h5>MacBook</h5>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <!-- Electronic device section end -->

    <!-- deals of day section start -->
    <section>
        <div class="custom-container">
            <div class="title">
                <h3>Deals of The Day</h3>
                <a href="deals.html" class="see-all">See all</a>
            </div>
            <a href="shop.html" class="banner-box">
                <img class="img-fluid banner-img w-100 radius-10" src="{% static '' %}main/assets/images/banner/5.png" alt="banner">
            </a>
        </div>
    </section>
    <!-- deals of day section end -->


    <!-- best sale section start -->
    <section>
        <div class="custom-container">
            <div class="title">
                <h3>Best Selling</h3>
                <a href="#" class="see-all">See all</a>
            </div>

            <div class="row g-3">
                <div class="col-6">
                    <div class="product-box">
                        <div class="product-img">
                            <div class="badge-img">
                                <span>Hot</span>
                            </div>
                            <img src="{% static '' %}main/assets/images/product/1.png" class="img-fluid img" alt="">
                            <div class="like-icon animate ">
                                <img class="img-fluid icon outline-icon" src="{% static '' %}main/assets/images/svg/heart-outline.svg" alt="">
                                <img class="img-fluid icon fill-icon" src="{% static '' %}main/assets/images/svg/heart-fill.svg" alt="">
                                <div class="effect-group">
                                    <span class="effect"></span>
                                    <span class="effect"></span>
                                    <span class="effect"></span>
                                    <span class="effect"></span>
                                    <span class="effect"></span>
                                </div>
                            </div>
                        </div>
                        <div class="product-content">
                            <a href="cart.html" class="add-icon">
                                <i class="iconsax" data-icon="add"></i>
                            </a>
                            <h6 class="content-color white-nowrap">Mobile</h6>
                            <a href="product-details.html">
                                <h5 class="title-color fw-medium white-nowrap mt-1">Latest Smart Mobile Phone</h5>
                            </a>
                            <ul class="rating-list">
                                <li>
                                    <img src="{% static '' %}main/assets/images/svg/star-fill.svg" alt="star">
                                </li>
                                <li>
                                    <img src="{% static '' %}main/assets/images/svg/star-fill.svg" alt="star">
                                </li>
                                <li>
                                    <img src="{% static '' %}main/assets/images/svg/star-fill.svg" alt="star">
                                </li>
                                <li>
                                    <img src="{% static '' %}main/assets/images/svg/star-fill.svg" alt="star">
                                </li>
                                <li>
                                    <img src="{% static '' %}main/assets/images/svg/star-outline.svg" alt="star">
                                </li>
                            </ul>
                            <div class="bottom-content">
                                <h5 class="price">$320 <del>$350</del></h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="product-box">
                        <div class="product-img">
                            <img src="{% static '' %}main/assets/images/product/2.png" class="img-fluid img" alt="">
                            <div class="like-icon animate active inactive">
                                <img class="img-fluid icon outline-icon" src="{% static '' %}main/assets/images/svg/heart-outline.svg" alt="">
                                <img class="img-fluid icon fill-icon" src="{% static '' %}main/assets/images/svg/heart-fill.svg" alt="">
                                <div class="effect-group">
                                    <span class="effect"></span>
                                    <span class="effect"></span>
                                    <span class="effect"></span>
                                    <span class="effect"></span>
                                    <span class="effect"></span>
                                </div>
                            </div>
                        </div>


                        <div class="product-content">
                            <a href="cart.html" class="add-icon">
                                <i class="iconsax" data-icon="add"></i>
                            </a>

                            <a href="product-details.html">
                                <h6 class="content-color white-nowrap">Speaker</h6>
                                <h5 class="title-color fw-medium white-nowrap mt-1">Wireless Audio System</h5>
                            </a>
                            <ul class="rating-list">
                                <li>
                                    <img src="{% static '' %}main/assets/images/svg/star-fill.svg" alt="star">
                                </li>
                                <li>
                                    <img src="{% static '' %}main/assets/images/svg/star-fill.svg" alt="star">
                                </li>
                                <li>
                                    <img src="{% static '' %}main/assets/images/svg/star-fill.svg" alt="star">
                                </li>
                                <li>
                                    <img src="{% static '' %}main/assets/images/svg/star-fill.svg" alt="star">
                                </li>
                                <li>
                                    <img src="{% static '' %}main/assets/images/svg/star-outline.svg" alt="star">
                                </li>
                            </ul>
                            <div class="bottom-content">
                                <h5 class="price">$20 <del>$50</del></h5>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-6">
                    <div class="product-box">
                        <div class="product-img">
                            <img src="{% static '' %}main/assets/images/product/3.png" class="img-fluid img" alt="">
                            <div class="like-icon animate ">
                                <img class="img-fluid icon outline-icon" src="{% static '' %}main/assets/images/svg/heart-outline.svg" alt="">
                                <img class="img-fluid icon fill-icon" src="{% static '' %}main/assets/images/svg/heart-fill.svg" alt="">
                                <div class="effect-group">
                                    <span class="effect"></span>
                                    <span class="effect"></span>
                                    <span class="effect"></span>
                                    <span class="effect"></span>
                                    <span class="effect"></span>
                                </div>
                            </div>
                        </div>
                        <div class="product-content">
                            <a href="cart.html" class="add-icon">
                                <i class="iconsax" data-icon="add"></i>
                            </a>
                            <h6 class="content-color white-nowrap">Laptop</h6>
                            <a href="product-details.html">
                                <h5 class="title-color fw-medium white-nowrap mt-1">Latest Smart laptop</h5>
                            </a>
                            <ul class="rating-list">
                                <li>
                                    <img src="{% static '' %}main/assets/images/svg/star-fill.svg" alt="star">
                                </li>
                                <li>
                                    <img src="{% static '' %}main/assets/images/svg/star-fill.svg" alt="star">
                                </li>
                                <li>
                                    <img src="{% static '' %}main/assets/images/svg/star-fill.svg" alt="star">
                                </li>
                                <li>
                                    <img src="{% static '' %}main/assets/images/svg/star-fill.svg" alt="star">
                                </li>
                                <li>
                                    <img src="{% static '' %}main/assets/images/svg/star-outline.svg" alt="star">
                                </li>
                            </ul>
                            <div class="bottom-content">
                                <h5 class="price">$200 <del>$250</del></h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="product-box">
                        <div class="product-img">
                            <div class="badge-img">
                                <span>Hot</span>
                            </div>
                            <img src="{% static '' %}main/assets/images/product/4.png" class="img-fluid img" alt="">
                            <div class="like-icon animate active inactive">
                                <img class="img-fluid icon outline-icon" src="{% static '' %}main/assets/images/svg/heart-outline.svg" alt="">
                                <img class="img-fluid icon fill-icon" src="{% static '' %}main/assets/images/svg/heart-fill.svg" alt="">
                                <div class="effect-group">
                                    <span class="effect"></span>
                                    <span class="effect"></span>
                                    <span class="effect"></span>
                                    <span class="effect"></span>
                                    <span class="effect"></span>
                                </div>
                            </div>
                        </div>

                        <div class="product-content">
                            <a href="cart.html" class="add-icon">
                                <i class="iconsax" data-icon="add"></i>
                            </a>

                            <a href="product-details.html">
                                <h6 class="content-color white-nowrap">Headphone</h6>
                                <h5 class="title-color fw-medium white-nowrap mt-1">Wireless Bluetooth Headphone</h5>
                            </a>
                            <ul class="rating-list">
                                <li>
                                    <img src="{% static '' %}main/assets/images/svg/star-fill.svg" alt="star">
                                </li>
                                <li>
                                    <img src="{% static '' %}main/assets/images/svg/star-fill.svg" alt="star">
                                </li>
                                <li>
                                    <img src="{% static '' %}main/assets/images/svg/star-fill.svg" alt="star">
                                </li>
                                <li>
                                    <img src="{% static '' %}main/assets/images/svg/star-fill.svg" alt="star">
                                </li>
                                <li>
                                    <img src="{% static '' %}main/assets/images/svg/star-outline.svg" alt="star">
                                </li>
                            </ul>
                            <div class="bottom-content">
                                <h5 class="price">$10 <del>$20</del></h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- best sale section start -->

    <!-- deals of week section start -->
    <section>
        <div class="custom-container">
            <div class="title">
                <h3>Deals of The Week</h3>
                <a href="deals.html" class="see-all">See all</a>
            </div>
            <a href="shop.html" class="banner-box">
                <img class="img-fluid banner-img w-100 radius-10" src="{% static '' %}main/assets/images/banner/6.png" alt="banner">
            </a>
        </div>
    </section>
    <!-- deals of week section end -->

    <!-- Shop section start -->
    <section class="section-b-space">
        <div class="custom-container">
            <div class="title">
                <h3>Shop for her</h3>
                <a href="shop.html" class="see-all">See all</a>
            </div>
            <div class="row gy-3 gx-0">
                <div class="col-12">
                    <div class="product-box vertical-product">
                        <a href="product-details.html" class="product-img">
                            <img src="{% static '' %}main/assets/images/product/11.png" class="img-fluid" alt="">
                        </a>
                        <div class="product-content">
                            <h6 class="content-color">Apple</h6>
                            <a href="product-details.html" class="product-top">
                                <h5 class="title-color white-nowrap">Smart TV System </h5>
                            </a>
                            <div class="bottom-content">
                                <h5 class="price">$450 <del>$460</del></h5>
                            </div>
                        </div>
                        <div class="like-icon animate ">
                            <img class="img-fluid icon outline-icon" src="{% static '' %}main/assets/images/svg/heart-outline.svg" alt="">
                            <img class="img-fluid icon fill-icon" src="{% static '' %}main/assets/images/svg/heart-fill.svg" alt="">
                            <div class="effect-group">
                                <span class="effect"></span>
                                <span class="effect"></span>
                                <span class="effect"></span>
                                <span class="effect"></span>
                                <span class="effect"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="product-box vertical-product">
                        <a href="product-details.html" class="product-img">
                            <img src="{% static '' %}main/assets/images/product/12.png" class="img-fluid" alt="">
                        </a>
                        <div class="product-content">
                            <h6 class="content-color">Gadgets</h6>
                            <a href="product-details.html" class="product-top">
                                <h5 class="title-color white-nowrap">Latest Smart Camera </h5>
                            </a>
                            <div class="bottom-content">
                                <h5 class="price">$450 <del>$460</del></h5>
                            </div>
                        </div>
                        <div class="like-icon animate ">
                            <img class="img-fluid icon outline-icon" src="{% static '' %}main/assets/images/svg/heart-outline.svg" alt="">
                            <img class="img-fluid icon fill-icon" src="{% static '' %}main/assets/images/svg/heart-fill.svg" alt="">
                            <div class="effect-group">
                                <span class="effect"></span>
                                <span class="effect"></span>
                                <span class="effect"></span>
                                <span class="effect"></span>
                                <span class="effect"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Shop section end -->

    <!-- tap to top start -->
    <div class="tap-to-top-box">
        <a href="#" class="scroll scroll-to-top">
            <i class="iconsax arrow" data-icon="arrow-up"></i>
            Tap to Top
        </a>
    </div>
    <!-- tap to top end -->

    <!-- bottom panel start -->
    <ul class="bottom-menu">
        <li>
            <a href="home.html" class="active">
                <i class="iconsax text-content" data-icon="home-2"></i>
                <h6>Home</h6>
            </a>
        </li>

        <li>
            <a href="category.html">
                <i class="iconsax text-content" data-icon="grid-apps"></i>
                <h6>Category</h6>
            </a>
        </li>

        <li>
            <a href="cart.html">
                <i class="iconsax text-content" data-icon="shopping-cart"></i>
                <h6>Cart</h6>
            </a>
        </li>

        <li>
            <a href="wishlist.html">
                <i class="iconsax text-content" data-icon="heart"></i>
                <h6>Wishlist</h6>
            </a>
        </li>

        <li>
            <a href="account.html">
                <i class="iconsax text-content" data-icon="user-2"></i>
                <h6>Profile</h6>
            </a>
        </li>
    </ul>
    <!-- bottom panel end -->

    <!-- sidebar starts -->
    <div class="offcanvas sidebar-offcanvas offcanvas-start" tabindex="-1" id="sidebar">
        <div class="offcanvas-header sidebar-header">
            <div class="sidebar-logo">
                <img class="img-fluid logo" src="{% static '' %}main/assets/images/logo/logo.png" alt="logo">
            </div>
        </div>
        <div class="offcanvas-body">
            <a href="edit-profile.html" class="profile-part">
                <img class="img-fluid profile-pic" src="{% static '' %}main/assets/images/avatar/1.png" alt="p8">
                <div>
                    <h3>Smitha Williams</h3>
                    <span>Edit Account</span>
                </div>
            </a>
            <ul class="link-section switch-section">
                <li class="active">
                    <a href="home.html" class="pages">
                        <i class="iconsax sidebar-icon icon" data-icon="home-2"></i>
                        <h3>Home</h3>
                    </a>
                </li>
                <li>
                    <a href="category.html" class="pages">
                        <i class="iconsax sidebar-icon icon" data-icon="grid-apps"></i>
                        <h3>Category</h3>
                    </a>
                </li>
                <li>
                    <a href="cart.html" class="pages">
                        <i class="iconsax sidebar-icon icon" data-icon="shopping-cart"></i>

                        <h3>Cart</h3>
                    </a>
                </li>

                <li>
                    <a href="wishlist.html" class="pages">
                        <i class="iconsax sidebar-icon icon" data-icon="heart"></i>
                        <h3>Wishlist</h3>
                    </a>
                </li>
                <li>
                    <a href="account.html" class="pages">
                        <i class="iconsax sidebar-icon icon" data-icon="user-2"></i>
                        <h3>Profile</h3>
                    </a>
                </li>

                <li>
                    <a href="page-listing.html" class="pages">
                        <i class="iconsax sidebar-icon icon" data-icon="book-closed"> </i>
                        <h3>Template Pages</h3>
                    </a>
                </li>

                <li>
                    <a href="elements-page.html" class="pages">
                        <i class="iconsax sidebar-icon icon" data-icon="document-text-1"> </i>
                        <h3> Template Elements</h3>
                    </a>
                </li>

                <li>
                    <div class="pages">
                        <i class="iconsax sidebar-icon" data-icon="repeat"> </i>
                        <h3>RTL</h3>
                    </div>
                    <div class="switch-btn">
                        <input id="dir-switch" type="checkbox">
                    </div>
                </li>

                <li>
                    <div class="pages">
                        <i class="iconsax sidebar-icon" data-icon="brush-3"> </i>
                        <h3>Dark</h3>
                    </div>
                    <div class="switch-btn">
                        <input id="dark-switch" type="checkbox">
                    </div>
                </li>

            </ul>

            <div class="bottom-sidebar">
                <a href="login.html" class="pages">
                    <i class="iconsax sidebar-icon" data-icon="logout-2"> </i>
                    <h3>Logout</h3>
                </a>
            </div>
        </div>
    </div>
    <!-- sidebar end -->

    <!-- swiper js -->
    <script src="{% static '' %}main/assets/js/swiper-bundle.min.js"></script>
    <script src="{% static '' %}main/assets/js/custom-swiper.js"></script>

    <!-- bootstrap js -->
    <script src="{% static '' %}main/assets/js/bootstrap.bundle.min.js"></script>

    <!-- iconsax icon -->
    <script src="{% static '' %}main/assets/js/iconsax-icon.js"></script>

    <!-- template-setting js -->
    <script src="{% static '' %}main/assets/js/template-setting.js"></script>

    <!-- range slider js -->
    <script src="{% static '' %}main/assets/js/range-slider.js"></script>

    <!-- timer js -->
    <script src="{% static '' %}main/assets/js/timer.js"></script>

    <!-- tap to tap js -->
    <script src="{% static '' %}main/assets/js/tap-to-top.js"></script>

    <!-- script js -->
    <script src="{% static '' %}main/assets/js/script.js"></script>
</body>

</html>