{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="kartify">
    <meta name="keywords" content="kartify">
    <meta name="author" content="kartify">
    <link rel="manifest" href="manifest.json">
    <link rel="icon" href="{% static '' %}main/assets/images/logo/favicon.png" type="image/x-icon">
    <title>Kartify App</title>
    <link rel="apple-touch-icon" href="{% static '' %}main/assets/images/logo/favicon.png">
    <meta name="theme-color" content="#2777FC">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="kartify">
    <meta name="msapplication-TileImage" content="{% static '' %}main/assets/images/logo/favicon.png">
    <meta name="msapplication-TileColor" content="#FFFFFF">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- font link -->
    <link rel="stylesheet" href="{% static '' %}main/assets/css/br-hendrix.css">

    <!-- bootstrap css -->
    <link rel="stylesheet" type="text/css" id="rtl-link" href="{% static '' %}main/assets/css/vendors/bootstrap.css">

    <!-- iconsax icon css -->
    <link rel="stylesheet" type="text/css" href="{% static '' %}main/assets/css/vendors/iconsax.css">

    <!-- Theme css -->
    <link rel="stylesheet" id="change-link" type="text/css" href="{% static '' %}main/assets/css/style.css">
</head>

<body>
    <!-- loader start-->
    <div class="loader-wrapper" id="loader">
        <span class="loader"></span>
    </div>
    <!-- loader end -->

    <!-- header start -->
    <header class="main-header">
        <div class="custom-container">
            <div class="header-panel">
                <a onclick="history.back();">
                    <img class="img-fluid icon-btn back-arrow" src="{% static '' %}main/assets/images/svg/back-arrow.svg" alt="back-arrow">
                </a>
                <h3>Address</h3>
            </div>
        </div>
    </header>
    <!-- header end -->

    <!-- address section starts -->
    <section class="section-sm-t-space">
        <div class="custom-container">
            <ul class="address-listing">
                <li class="w-100 address-box">

                    <div class="address-head">
                        <div class="d-flex align-items-center gap-1">
                            <img class="img-fluid" src="{% static '' %}main/assets/images/svg/location.svg" alt="location">
                            <h5 class="fw-medium title-color">Home</h5>
                        </div>
                        <a href="#edit-address" data-bs-toggle="offcanvas" class="theme-color fw-medium"> <img src="{% static '' %}main/assets/images/svg/edit.svg" alt="edit">
                        </a>
                    </div>
                    <div class="address-content">
                        <p>268 Dina Glens, North Reba, New York - 66788</p>
                        <div class="address-option">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="CheckDefault" checked="">
                                <label class="form-check-label" for="CheckDefault">
                                    Make as a default </label>
                            </div>
                            <a href="#" class="theme-color fw-medium text-decoration-underline remove">Remove</a>
                        </div>
                    </div>
                </li>

                <li class="w-100 address-box">
                    <div class="">
                        <div class="address-head">
                            <div class="d-flex align-items-center gap-1">
                                <img class="img-fluid" src="{% static '' %}main/assets/images/svg/location.svg" alt="location">
                                <h5 class="fw-medium title-color">Home</h5>
                            </div>
                            <a href="#edit-address" data-bs-toggle="offcanvas" class="theme-color fw-medium"> <img src="{% static '' %}main/assets/images/svg/edit.svg" alt="edit">
                            </a>
                        </div>
                        <div class="address-content">
                            <p>12 Roberta St, North cozeland, New York - 65614</p>

                            <div class="address-option">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="CheckDefault1">
                                    <label class="form-check-label" for="CheckDefault1">
                                        Make as a default </label>
                                </div>
                                <a href="#" class="theme-color fw-medium text-decoration-underline remove">Remove</a>
                            </div>
                        </div>
                    </div>
                </li>

                <li class="w-100">
                    <a href="#new-address" data-bs-toggle="offcanvas" class="new-address-box">
                        <h5 class="fw-medium contant-color">Add New Address</h5>
                    </a>
                </li>
            </ul>
        </div>

        <div class="fixed-btn-grp">
            <div class="custom-container">
                <a href="account.html" class="btn btn-mid theme-btn w-100">Apply</a>
            </div>
        </div>
    </section>
    <!-- address section ends -->

    <!-- change address section starts -->
    <div class="offcanvas offcanvas-bottom filter-offcanvas" tabindex="-1" id="new-address">
        <div class="offcanvas-header">
            <h3>Add New Address</h3>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <form class="theme-form">
                <div class="form-group mt-0">
                    <div class="location-type custom-filter-checkbox">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="option" id="payment1" checked="">
                            <label class="form-check-label" for="payment1">
                                Home
                            </label>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="option" id="payment2">
                            <label class="form-check-label" for="payment2">
                                Work
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="option" id="payment3">
                            <label class="form-check-label" for="payment3">
                                Other
                            </label>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-label" for="inputaddress">Street Address</label>
                    <input type="text" class="form-control wo-icon" id="inputaddress" placeholder="Enter address">
                </div>

                <div class="form-group">
                    <label class="form-label" for="inputcity">City</label>
                    <input type="text" class="form-control wo-icon" id="inputcity" placeholder="Enter city">
                </div>
                <div class="form-group">
                    <label class="form-label" for="inputcode">Zip Code</label>
                    <input type="number" class="form-control wo-icon" id="inputcode" placeholder="Enter zip code">
                </div>
            </form>
        </div>
        <div class="btn-grp d-flex gap-3 mt-4">
            <a data-bs-dismiss="offcanvas" class="btn white-btn w-50">Cancel</a>
            <a data-bs-dismiss="offcanvas" class="btn theme-btn w-50">Change</a>
        </div>
    </div>
    <!-- change address section ends -->

    <!-- edit address section starts -->
    <div class="offcanvas offcanvas-bottom filter-offcanvas" tabindex="-1" id="edit-address">
        <div class="offcanvas-header">
            <h3>Edit Address</h3>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <form class="theme-form">
                <div class="form-group mt-0">
                    <div class="location-type custom-filter-checkbox">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="option" id="payment11" checked="">
                            <label class="form-check-label" for="payment11">
                                Home
                            </label>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="option" id="payment12">
                            <label class="form-check-label" for="payment12">
                                Work
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="option" id="payment13">
                            <label class="form-check-label" for="payment13">
                                Other
                            </label>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-label" for="inputaddress">Street Address</label>
                    <input type="text" class="form-control wo-icon" id="inputaddress" value="268 Dina Glens, North Reba" placeholder="Enter address">
                </div>

                <div class="form-group">
                    <label class="form-label" for="inputcity">City</label>
                    <input type="text" class="form-control wo-icon" id="inputcity" value=" New York" placeholder="Enter city">
                </div>
                <div class="form-group">
                    <label class="form-label" for="inputcode">Zip Code</label>
                    <input type="number" class="form-control wo-icon" id="inputcode" value="66788" placeholder="Enter zip code">
                </div>
            </form>
        </div>
        <div class="btn-grp d-flex gap-3 mt-4">
            <a data-bs-dismiss="offcanvas" class="btn white-btn w-50">Cancel</a>
            <a data-bs-dismiss="offcanvas" class="btn theme-btn w-50">Change</a>
        </div>
    </div>
    <!-- edit address section ends -->

    <!-- panel-space start -->
    <div class="panel-space"></div>
    <!-- panel-space end -->


    <!-- bootstrap js -->
    <script src="{% static '' %}main/assets/js/bootstrap.bundle.min.js"></script>

    <!-- iconsax icon -->
    <script src="{% static '' %}main/assets/js/iconsax-icon.js"></script>

    <!-- template-setting js -->
    <script src="{% static '' %}main/assets/js/template-setting.js"></script>

    <!-- remove-item js -->
    <script src="{% static '' %}main/assets/js/remove-item.js"></script>

    <!-- script js -->
    <script src="{% static '' %}main/assets/js/script.js"></script>
</body>

</html>