{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="kartify">
    <meta name="keywords" content="kartify">
    <meta name="author" content="kartify">
    <link rel="manifest" href="manifest.json">
    <link rel="icon" href="{% static '' %}main/assets/images/logo/favicon.png" type="image/x-icon">
    <title>Kartify App</title>
    <link rel="apple-touch-icon" href="{% static '' %}main/assets/images/logo/favicon.png">
    <meta name="theme-color" content="#2777FC">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="kartify">
    <meta name="msapplication-TileImage" content="{% static '' %}main/assets/images/logo/favicon.png">
    <meta name="msapplication-TileColor" content="#FFFFFF">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- font link -->
    <link rel="stylesheet" href="{% static '' %}main/assets/css/br-hendrix.css">

    <!-- bootstrap css -->
    <link rel="stylesheet" type="text/css" id="rtl-link" href="{% static '' %}main/assets/css/vendors/bootstrap.css">

    <!-- iconsax icon css -->
    <link rel="stylesheet" type="text/css" href="{% static '' %}main/assets/css/vendors/iconsax.css">

    <!-- Theme css -->
    <link rel="stylesheet" id="change-link" type="text/css" href="{% static '' %}main/assets/css/style.css">
</head>

<body>
    <!-- loader start-->
    <div class="loader-wrapper" id="loader">
        <span class="loader"></span>
    </div>
    <!-- loader end -->


    <!-- onboarding section start -->
    <section class="onboarding-section pt-0">
        <div class="custom-container">
            <div class="marquee-block-wrapper">
                <div class="marquee-block marquee-top">
                    <div class="marquee-inner to-left">
                        <span>
                            <div class="marquee-item">
                                <img class="img-fluid  marquee-img" src="{% static '' %}main/assets/images/onboarding/1.jpg" alt="">
                            </div>
                            <div class="marquee-item">
                                <img class="img-fluid  marquee-img" src="{% static '' %}main/assets/images/onboarding/2.jpg" alt="">
                            </div>
                            <div class="marquee-item">
                                <img class="img-fluid  marquee-img" src="{% static '' %}main/assets/images/onboarding/3.jpg" alt="">
                            </div>
                            <div class="marquee-item">
                                <img class="img-fluid  marquee-img" src="{% static '' %}main/assets/images/onboarding/4.jpg" alt="">
                            </div>

                            <div class="marquee-item">
                                <img class="img-fluid  marquee-img" src="{% static '' %}main/assets/images/onboarding/1.jpg" alt="">
                            </div>
                            <div class="marquee-item">
                                <img class="img-fluid  marquee-img" src="{% static '' %}main/assets/images/onboarding/2.jpg" alt="">
                            </div>
                            <div class="marquee-item">
                                <img class="img-fluid  marquee-img" src="{% static '' %}main/assets/images/onboarding/3.jpg" alt="">
                            </div>
                            <div class="marquee-item">
                                <img class="img-fluid  marquee-img" src="{% static '' %}main/assets/images/onboarding/4.jpg" alt="">
                            </div>

                            <div class="marquee-item">
                                <img class="img-fluid  marquee-img" src="{% static '' %}main/assets/images/onboarding/1.jpg" alt="">
                            </div>
                            <div class="marquee-item">
                                <img class="img-fluid  marquee-img" src="{% static '' %}main/assets/images/onboarding/2.jpg" alt="">
                            </div>
                            <div class="marquee-item">
                                <img class="img-fluid  marquee-img" src="{% static '' %}main/assets/images/onboarding/3.jpg" alt="">
                            </div>
                            <div class="marquee-item">
                                <img class="img-fluid  marquee-img" src="{% static '' %}main/assets/images/onboarding/4.jpg" alt="">
                            </div>

                            <div class="marquee-item">
                                <img class="img-fluid  marquee-img" src="{% static '' %}main/assets/images/onboarding/1.jpg" alt="">
                            </div>
                            <div class="marquee-item">
                                <img class="img-fluid  marquee-img" src="{% static '' %}main/assets/images/onboarding/2.jpg" alt="">
                            </div>
                            <div class="marquee-item">
                                <img class="img-fluid  marquee-img" src="{% static '' %}main/assets/images/onboarding/3.jpg" alt="">
                            </div>
                            <div class="marquee-item">
                                <img class="img-fluid  marquee-img" src="{% static '' %}main/assets/images/onboarding/4.jpg" alt="">
                            </div>
                        </span>
                    </div>
                </div>

                <div class="marquee-block marquee-bottom">
                    <div class="marquee-inner to-right">
                        <span>
                            <div class="marquee-item">
                                <img class="img-fluid  marquee-img" src="{% static '' %}main/assets/images/onboarding/5.jpg" alt="">
                            </div>
                            <div class="marquee-item">
                                <img class="img-fluid  marquee-img" src="{% static '' %}main/assets/images/onboarding/6.jpg" alt="">
                            </div>
                            <div class="marquee-item">
                                <img class="img-fluid  marquee-img" src="{% static '' %}main/assets/images/onboarding/7.jpg" alt="">
                            </div>
                            <div class="marquee-item">
                                <img class="img-fluid  marquee-img" src="{% static '' %}main/assets/images/onboarding/8.jpg" alt="">
                            </div>
                            <div class="marquee-item">
                                <img class="img-fluid  marquee-img" src="{% static '' %}main/assets/images/onboarding/5.jpg" alt="">
                            </div>
                            <div class="marquee-item">
                                <img class="img-fluid  marquee-img" src="{% static '' %}main/assets/images/onboarding/6.jpg" alt="">
                            </div>
                            <div class="marquee-item">
                                <img class="img-fluid  marquee-img" src="{% static '' %}main/assets/images/onboarding/7.jpg" alt="">
                            </div>
                            <div class="marquee-item">
                                <img class="img-fluid  marquee-img" src="{% static '' %}main/assets/images/onboarding/8.jpg" alt="">
                            </div>
                            <div class="marquee-item">
                                <img class="img-fluid  marquee-img" src="{% static '' %}main/assets/images/onboarding/5.jpg" alt="">
                            </div>
                            <div class="marquee-item">
                                <img class="img-fluid  marquee-img" src="{% static '' %}main/assets/images/onboarding/6.jpg" alt="">
                            </div>
                            <div class="marquee-item">
                                <img class="img-fluid  marquee-img" src="{% static '' %}main/assets/images/onboarding/7.jpg" alt="">
                            </div>
                            <div class="marquee-item">
                                <img class="img-fluid  marquee-img" src="{% static '' %}main/assets/images/onboarding/8.jpg" alt="">
                            </div>
                            <div class="marquee-item">
                                <img class="img-fluid  marquee-img" src="{% static '' %}main/assets/images/onboarding/5.jpg" alt="">
                            </div>
                            <div class="marquee-item">
                                <img class="img-fluid  marquee-img" src="{% static '' %}main/assets/images/onboarding/6.jpg" alt="">
                            </div>
                            <div class="marquee-item">
                                <img class="img-fluid  marquee-img" src="{% static '' %}main/assets/images/onboarding/7.jpg" alt="">
                            </div>
                            <div class="marquee-item">
                                <img class="img-fluid  marquee-img" src="{% static '' %}main/assets/images/onboarding/8.jpg" alt="">
                            </div>
                            <div class="marquee-item">
                                <img class="img-fluid  marquee-img" src="{% static '' %}main/assets/images/onboarding/5.jpg" alt="">
                            </div>
                            <div class="marquee-item">
                                <img class="img-fluid  marquee-img" src="{% static '' %}main/assets/images/onboarding/6.jpg" alt="">
                            </div>
                            <div class="marquee-item">
                                <img class="img-fluid  marquee-img" src="{% static '' %}main/assets/images/onboarding/7.jpg" alt="">
                            </div>
                            <div class="marquee-item">
                                <img class="img-fluid  marquee-img" src="{% static '' %}main/assets/images/onboarding/8.jpg" alt="">
                            </div>
                        </span>
                    </div>
                </div>

                <div class="marquee-block marquee-top">
                    <div class="marquee-inner to-left">
                        <span>
                            <div class="marquee-item">
                                <img class="img-fluid  marquee-img" src="{% static '' %}main/assets/images/onboarding/9.jpg" alt="">
                            </div>
                            <div class="marquee-item">
                                <img class="img-fluid  marquee-img" src="{% static '' %}main/assets/images/onboarding/10.jpg" alt="">
                            </div>
                            <div class="marquee-item">
                                <img class="img-fluid  marquee-img" src="{% static '' %}main/assets/images/onboarding/11.jpg" alt="">
                            </div>
                            <div class="marquee-item">
                                <img class="img-fluid  marquee-img" src="{% static '' %}main/assets/images/onboarding/12.jpg" alt="">
                            </div>
                            <div class="marquee-item">
                                <img class="img-fluid  marquee-img" src="{% static '' %}main/assets/images/onboarding/9.jpg" alt="">
                            </div>
                            <div class="marquee-item">
                                <img class="img-fluid  marquee-img" src="{% static '' %}main/assets/images/onboarding/10.jpg" alt="">
                            </div>
                            <div class="marquee-item">
                                <img class="img-fluid  marquee-img" src="{% static '' %}main/assets/images/onboarding/11.jpg" alt="">
                            </div>
                            <div class="marquee-item">
                                <img class="img-fluid  marquee-img" src="{% static '' %}main/assets/images/onboarding/12.jpg" alt="">
                            </div>
                            <div class="marquee-item">
                                <img class="img-fluid  marquee-img" src="{% static '' %}main/assets/images/onboarding/9.jpg" alt="">
                            </div>
                            <div class="marquee-item">
                                <img class="img-fluid  marquee-img" src="{% static '' %}main/assets/images/onboarding/10.jpg" alt="">
                            </div>
                            <div class="marquee-item">
                                <img class="img-fluid  marquee-img" src="{% static '' %}main/assets/images/onboarding/11.jpg" alt="">
                            </div>
                            <div class="marquee-item">
                                <img class="img-fluid  marquee-img" src="{% static '' %}main/assets/images/onboarding/12.jpg" alt="">
                            </div>
                            <div class="marquee-item">
                                <img class="img-fluid  marquee-img" src="{% static '' %}main/assets/images/onboarding/9.jpg" alt="">
                            </div>
                            <div class="marquee-item">
                                <img class="img-fluid  marquee-img" src="{% static '' %}main/assets/images/onboarding/10.jpg" alt="">
                            </div>
                            <div class="marquee-item">
                                <img class="img-fluid  marquee-img" src="{% static '' %}main/assets/images/onboarding/11.jpg" alt="">
                            </div>
                            <div class="marquee-item">
                                <img class="img-fluid  marquee-img" src="{% static '' %}main/assets/images/onboarding/12.jpg" alt="">
                            </div>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="onboarding-button-content">
            <div class="custom-container">

                <a href="https://accounts.google.com/" class="btn white-btn d-flex align-items-center justify-content-center gap-3 mb-4 lh-1 w-100">
                    <img src="{% static '' %}main/assets/images/icon/svg/email.svg" alt="google"> Continue With Email
                </a>

                <a href="https://www.google.com/" class="btn white-btn d-flex align-items-center justify-content-center gap-3 mb-4 lh-1 w-100">
                    <img src="{% static '' %}main/assets/images/icon/svg/google.svg" alt="google"> Continue With Google
                </a>

                <a href="https://www.apple.com/" class="btn white-btn  d-flex align-items-center justify-content-center gap-3 mb-4 lh-1 w-100">
                    <img class="img-fluid apple-img" src="{% static '' %}main/assets/images/icon/svg/apple.svg" alt="apple"> Continue With
                    Apple
                </a>

                <h5 class="content-color fw-normal text-center mt-24"> Already have an account? <a href="login.html" class="theme-color">Sign in</a>
                </h5>
            </div>
        </div>
    </section>
    <!-- onboarding section end -->

    <!-- bootstrap js -->
    <script src="{% static '' %}main/assets/js/bootstrap.bundle.min.js"></script>

    <!-- iconsax icon -->
    <script src="{% static '' %}main/assets/js/iconsax-icon.js"></script>

    <!-- template-setting js -->
    <script src="{% static '' %}main/assets/js/template-setting.js"></script>

    <!-- script js -->
    <script src="{% static '' %}main/assets/js/script.js"></script>
</body>

</html>